.brand span {
    padding-left: 35px;
}

.brand img {
    position: absolute;
    height: 30px;
    top: 5px;
}

#well-home {
    text-align: center;
    margin-top: 30px;
}

#well-home h1 {
    font-size: 400%;
    margin-bottom: 0;
}

#well-home h1 img {
    height: 100px;
    position: relative;
    top: -10px;
}

#well-home .title2 {
    font-size: 150%;
    padding-top: 15px;
}

#demo-img {
    display: block;
    margin: auto;
    width: 500px;
    border: 1px solid black;
    padding: 5px;
}

/* Added from site.xml */

footer { padding-top: 5px!important; padding-bottom: 5px!important; margin-top: 30px!important }
div.subfooter { padding-top: 20px!important; padding-bottom: 10px!important }
p.copyright { display: none }

/* Reflow bugfix */

.no-before:before {
    display: none !important;
}

/* Check here */

/*
a.anchor {
    border-top: 100px solid transparent;
    margin-top: -100px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
*/
