<configuration>

  <conversionRule
    conversionWord="bold"
    converterClass="eu.fbk.rdfpro.tool.Logging$BoldConverter" />

  <conversionRule
    conversionWord="normal"
    converterClass="eu.fbk.rdfpro.tool.Logging$NormalConverter" />

  <appender
    name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%bold(%d{HH:mm:ss}\(%.-1level\)) %normal(%msg) %n%rEx{full}</pattern>
    </encoder>
  </appender>

  <appender
    name="STATUS"
    class="eu.fbk.rdfpro.tool.Logging$StatusAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

  <logger
    name="eu.fbk"
    level="INFO" />

  <logger
    name="status"
    additivity="false"
    level="INFO">
    <appender-ref ref="STATUS" />
  </logger>

</configuration>