body {
	padding: 20px 50px;
}

#navigation-content {
	margin: auto;
	/*width: 800px;*/
	text-align: left;
	/*font-size: .7em;*/
	/*background-color: #ddd;*/
	/*padding: 20px;*/
}

#navigation-container {
	/*width: 1000px;*/
	margin: auto;
}

.page-header div.logos {
	background-color: white;
	padding: 0 20px;
}

span.predicate {
	color: #c00;
	font-style: italic;
	font-weight: bold;
}

span.object, span.subject {
	color: #008;
}

span.pre-situation {
	background-color: #ffd;
}
span.during-situation {
	background-color: #ddf;
}
span.post-situation {
	background-color: #dfd;
}

#navigation > li > span {
	font-weight: bold;
}

#documentation pre {
	height: 500px;
}

#form-output label {
	padding-right: 5px;
	padding-left: 15px;
	font-weight: normal !important;
}

#form-output .form-group > :first-child {
	padding-left: 0 !important;
}

.form-radio {
	margin: 5px 0 10px 20px;
}

#form-format {
	margin-top: 10px;
}

#form-format label {
	padding-left: 0 !important;
}

.radio {
	margin-top: 15px !important;
}

