
JSON-LD Library
===============

[JSON-LD](http://www.w3.org/TR/json-ld/) is a JSON-based format for serializing data in (a superset of) RDF as JSON and interpreting JSON contents as RDF; similarly to RDF/XML, JSON-LD provides for several ways to encode the same triples (or quads).

The `rdfpro-jsonld` module extends Sesame RIO with support for the JSON-LD format. JSON-LD writing is directly implemented by the module, while parsing reuses the lightweight [Semargl](http://semarglproject.org/) JSONLD parser, which is adapted to the Sesame API.

In order to use the `rdfpro-jsonld` library you have to include the following dependency in your `pom.xml`:

    <dependency>
      <groupId>eu.fbk.rdfpro</groupId>
      <artifactId>rdfpro-jsonld</artifactId>
      <version>${project-version}</version>
    </dependency>

If you don't use Maven, you have to download and include the following JARs in the classpath:

  * [rdfpro-jsonld-${project-version}.jar](http://central.maven.org/maven2/eu/fbk/rdfpro/rdfpro-jsonld/${project-version}/rdfpro-jsonld-${project-version}.jar)
  * [slf4j-api-${slf4j-version}.jar](http://central.maven.org/maven2/org/slf4j/slf4j-api/${slf4j-version}/slf4j-api-${slf4j-version}.jar) (or newer version)
  * [sesame-rio-api-${sesame-version}.jar](http://central.maven.org/maven2/org/openrdf/sesame/sesame-rio-api/${sesame-version}/sesame-rio-api-${sesame-version}.jar) (or newer version)
  * [sesame-model-${sesame-version}.jar](http://central.maven.org/maven2/org/openrdf/sesame/sesame-model/${sesame-version}/sesame-model-${sesame-version}.jar) (or newer version)
  * [sesame-util-${sesame-version}.jar](http://central.maven.org/maven2/org/openrdf/sesame/sesame-util/${sesame-version}/sesame-util-${sesame-version}.jar) (or newer version)
  * [semargl-core-${semargl-jsonld-version}.jar](http://central.maven.org/maven2/org/semarglproject/semargl-core/${semargl-jsonld-version}/semargl-core-${semargl-jsonld-version}.jar)
  * [semargl-jsonld-${semargl-jsonld-version}.jar](http://central.maven.org/maven2/org/semarglproject/semargl-jsonld/${semargl-jsonld-version}/semargl-jsonld-${semargl-jsonld-version}.jar)
  * [semargl-rdf-${semargl-jsonld-version}.jar](http://central.maven.org/maven2/org/semarglproject/semargl-rdf/${semargl-jsonld-version}/semargl-rdf-${semargl-jsonld-version}.jar)

Note that the three Sesame JARs are not necessary in case the `openrdf-sesame-${sesame-version}-onejar.jar` file is already included. The SLF4J API is used by Sesame for logging. You need to include also an implementation (e.g., [Logback](http://logback.qos.ch/)) for logging to work.

No additional action is required to use the JSON-LD parser: just specify [`RDFFormat.JSONLD`](http://rdf4j.org/sesame/2.7/apidocs/org/openrdf/rio/RDFFormat.html#JSONLD) when creating the parser with Sesame RIO.
The JSON-LD writer, instead, requires the specification of the `RioSetting` [`JSONLD.ROOT_TYPES`](apidocs/eu/fbk/rdfpro/jsonld/JSONLD.html#ROOT_TYPES).
Its value is the set of class URIs associated to 'top-level' RDF resources in the produced JSON-LD. More in details, the JSON produced by the writer contains an array of JSON structures, one for each RDF resource of one of the configured root types. The JSON of RDF resources that are not root types is instead nested in the JSON of root type resources.
