<div class='page-header'>
    <h1>RDFpro web interface</h1>
</div>

---------------------------------------

<h3>Screenshot</h3>

<a href="https://knowledgestore2.fbk.eu/rdfpro-demo/"><img id='demo-img' src='images/demo.png' /></a>

<h3>Description</h3>

RDFpro 0.4 comes with a web interface, written in [php](http://www.php.net/).
To install it in your webserver (for example [Apache](http://httpd.apache.org/)), you have first to install the RDFpro command line tool (invoked from the web interface) as described [here](install.html).
Then, download one of the following packages:

  * [rdfpro-dist-${project-version}-web.tar.gz](https://knowledgestore.fbk.eu/files/rdfpro/${project-version}/rdfpro-dist-${project-version}-web.tar.gz) (latest version, tar.gz)
  * [rdfpro-dist-${project-version}-web.zip](https://knowledgestore.fbk.eu/files/rdfpro/${project-version}/rdfpro-dist-${project-version}-web.zip) (latest version, zip)
  * [browse all versions](https://knowledgestore.fbk.eu/files/rdfpro/)

and copy (and rename, if you want) the `rdfpro-web` folder inside the package to the webserver root folder.

The main options of the web interface can be set by editing the `config.inc.php` file.

* `$rdfpro_path` is the path to RDFpro executable on your machine.
* `$java_home` is the Java home path.
* `$additionalFileNo` is the number of slots for uploading files.
* `$inputFormat`, `$outputFormat` and `$compressionFormat` tell the web interface which extensions should be accepted.
* `$inputFormatDefault` and `$outputFormatDefault` are the default values for the corresponding select menus.
* `$allowedCommands` is the list of allowed commands to pass to RDFpro.
* `$inputExample` is the input file to be used as default (third radio button in the input part).
* `$inputDescription` is the description of `$inputExample`.
* `$exampleList` is a list of predefined examples.
* `$customFiles` is a list of predefined files, that can be used without uploading them every time.
    The keys of the array is the codename, while the value is the filename (to be copied in the `custom` folder).
* `$customFilesDesc` is the list of descriptions for the `$customFiles`. The array keys must match.
