.brand span {
    padding-left: 35px;
}

.brand img {
    position: absolute;
    height: 30px;
    top: 5px;
}

#well-home {
    text-align: center;
    margin-top: 30px;
}

#well-home h1 {
    font-size: 400%;
    margin-bottom: 0;
}

#well-home h1 img {
    height: 100px;
    position: relative;
    top: -10px;
}

#well-home .title2 {
    font-size: 150%;
    padding-top: 15px;
}

#demo-img {
    display: block;
    margin: auto;
    width: 500px;
    border: 1px solid black;
    padding: 5px;
}

/* Reflow bugfix */

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before, a[name]:before {
    display: none !important;
}

a.anchor {
    border-top: 100px solid transparent;
    margin-top: -100px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
